body {
  margin: 0;
  height: 100vh;
  color: white;
  font-family: 'Muli',sans-serif;
}

li {
  margin-top: 5px;
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
    text-align: center;
    list-style-type: none;
  color: rgb(180, 60, 60);
  animation: trocaCorTexto 15s infinite;
}

li:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
  animation: none;
}

#app {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 10% auto 10%;
  grid-template-areas: 
    "header header"
    "sidenav content"
    "footer footer";
}

#header {
  grid-area: header;
  background-color: rgb(180, 60, 60);
  animation: trocaBackground 15s infinite;
  text-align: center;
}

#header:hover {
  animation: none;
  cursor: pointer;
}

#content {
  grid-area: content;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 4px solid rgb(120, 120, 120);
  
}
#footer {
  grid-area: footer;
  background: rgb(43, 43, 44);
  text-align: center;
  padding-top: 15px;
}
#sidenav {
  grid-area: sidenav;
  background: rgb(43, 43, 44);
  border-bottom: 4px solid rgb(120, 120, 120);
}

.block {
  width: 20%;
  padding: 1%;
  margin-left: 2.5%;
  margin-top: 1.25%;
  height: 300px;
  border-radius: 15px;
  transition:
  transform
  250ms
  cubic-bezier(.3, .7, .4, 1.5);
}

.block:hover {
  transform: translateY(-3px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.backgroundColorido {
  background-color: rgb(180, 60, 60);
  animation: trocaBackground 15s infinite;
}

.backgroundColorido:hover {
  cursor: pointer;
  animation: none;
}

@keyframes trocaBackground {
  from { background-color: rgb(180, 60, 60); }
  25% { background-color: rgb(180, 141, 51); }
  50% { background-color: rgb(60, 180, 106); }
  75% { background-color: rgb(134, 60, 180); }
  to { background-color: rgb(180, 60, 60); }
}

@keyframes trocaCorTexto {
  from { color: rgb(180, 60, 60); }
  25% { color: rgb(180, 141, 51); }
  50% { color: rgb(60, 180, 106); }
  75% { color: rgb(134, 60, 180); }
  to { color: rgb(180, 60, 60); }
}