<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Bhaskara</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Calculadora de Bhaskara</h1>
    <div id="boxCalculadora">
        <input type="number" name="a" id="a" placeholder="a" class="input">
        <input type="number" name="b" id="b" placeholder="b" class="input">
        <input type="number" name="c" id="c" placeholder="c" class="input">
        <button type="button" class="botaoCalcular-pushable" id="calcular" onclick="calcular();">
            <span class="botaoCalcular-shadow"></span>
            <span class="botaoCalcular-edge"></span>
            <span class="botaoCalcular-front">
                <b>CALCULAR</b>
            </span>
        </button>
    </div>
    <div id="resultado"></div>
</body>
    <script src="../js/calculadora.js" type="module"></script>
    <script src="../js/bhaskara.js"></script>
</html>