body {
    margin: 0;
}

footer {
    height: 100px;
    background-color: rgb(40, 40, 40);
    padding-top: 2%;
}

header {
    height: 20%;
    background-color: rgb(40, 40, 40);
}

img {
	max-width: 100%;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

img:hover {
    transform: translateY(-2px);
    cursor: pointer;
}

li {    
    color: black;
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    line-height: 60px;
}

#itensMenu {
    display: flex;
    align-items: center;
}

#containerPrincipal {
    width: 100%;
    display: flex;
}

#containerEsq { 
    flex: 1;
    background-color: rgb(155, 155, 155);
    display: flex;
    justify-content:right;
}

#containerDir {
    flex: 5;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#listaContainerEsq {
    width: 50%;
    font-size: 20px;
    font-family: 'Muli',sans-serif;
}

#listaContainerEsq li{
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

#listaContainerEsq li:hover {
    color: white;
    transform: translateY(-2px);
    cursor: pointer;
}
.container {
	padding: 10px 10px 10px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navMenu ul {
	text-align: center;
}

.navMenu li {
    margin-left: 20px;
    font-size: 20px;
	display: inline;
    transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

.navMenu a {
    font-family: 'Muli',sans-serif;
    color: white;
    text-decoration: none;
}

.navMenu a:hover {
    color: rgb(69, 119, 226);
}

.divInline {
    width: 20%;
    height: 300px;
    border: solid 1px rgb(69, 119, 226);
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 3%;
    font-family: 'Muli',sans-serif;
}

.divBottom {
    width: 46%;
    height: 300px;
    border: solid 1px rgb(69, 119, 226);
    border-radius: 15px;
    padding: 1%;
    font-family: 'Muli',sans-serif;
}

.center {
    font-size: 20px;
    text-align: center;
    color: white;
}